/*========================= moblie=================*/

@media(min-width: 320px) and (max-width: 500px){
    img{
        margin-left: 10px;
    }
    
    .btn-product-sign-up{
        margin-bottom: 15px;
    }
    .main ul{
        padding: 0px;
    }
    .footer-header p{
        padding-bottom: 0px;
    }
}

/*========================= tablet=================*/

@media (min-width: 576px) and (max-width: 767.98px) {
    h2{
        font-size: 27px;
    }
}